.container-home {
  background-color: var(--dark-purple2);
  font-family: "runda", sans-serif;
  min-height: 100vh;
}

.boardingPass {
  height: 30rem;
  width: 35rem;
  margin: 2rem auto;
}

.boardingPass-body {
  background-color: rgba(39, 39, 39, 0.885);
  color: var(--white);
  height: calc(100% - 3.2rem);
  padding: 0rem 1.4rem
}

.boardingPass-city {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.50rem;
}

.boardingPass-city h1 {
  font-size: 4.8rem;
  font-weight: 300;
}

.boardingPass-city span {
  font-size: 1.1rem;
  opacity: 0.5;
}

.boardingPass-img {
  display: flex;
  align-items: center;
}

.boardingPass-img-line {
  border: 1px solid #8B8B8B;
  width: 3rem;
  margin-left: 0.50rem;
}

.boardingPass-second {
  border-bottom: 1px solid #8B8B8B;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  padding-bottom: 1.7rem;
  padding-top: 1.5rem;
}

.boardingPass-tird {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 0rem 2rem;
}

.boardingPass-tird-info {
  display: flex;
  justify-content: space-between;
  margin-top: 2.6rem;
  width: 100%;
}

.boardingPass-tird-info button {
  background-color: var(--dark-purple);
  border: 1px solid transparent;
  border-radius: 5px;
  color: var(--white);
  cursor: pointer;
  font-family: "runda", sans-serif;
  font-size: 1rem;
  letter-spacing: 0.2rem;
  margin-right: -2rem;
  height: 4.5rem;
  width: 18rem;
}

.boardingPass-tird-titles {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.boardingPass-tird-titles h3 {
  font-weight: 500;
  font-size: 1.4rem;
  margin-top: 0.5rem;
}

.boardingPass-tird-titles h4 {
  font-size: 1.1rem;
  font-weight: 500;
  opacity: 0.5;
}

.body-reminders {
  background-color: rgba(0, 0, 0, 0.664);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0rem 2rem;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  height: 3.2rem;
  width: 3.2rem;
}

.circle-pickup {
  background-color: var(--purple);
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
}

.circle-destination {
  background-color: var(--light-blue);
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
}

.destinations-inputs {
  border-bottom: 1px solid #919191;
  padding-bottom: 1.7rem;
  margin-bottom: 2rem;
}

.destinations-inputs :first-child {
  margin-bottom: 1rem;
}

.destinations-inputs input {
  height: 4rem;
  width: 100%;
  padding: 1rem;
}

.driver-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}

.fifth-section {
  background-color: var(--purple2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30rem;
  margin: 1rem 0rem 2rem 0rem;
  padding: 0rem 1.5rem;
}

.first-section {
  background-image: url("../assets/overlay.jpg");
  height: 36.8rem;
  margin-bottom: 19rem;
  position: relative;
}

.first-title {
  color: var(--white);
  font-size: 3.6rem;
  font-weight: 300;
  margin-left: 2.5rem;
  padding-top: 10rem;
}

footer {
  background-color: var(--dark-purple);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5rem
}

.fourth-section {
  background-image: url("../assets/accomodation2.png");
  height: 30rem;
}

.middle-body {
  padding: 0rem 1.5rem;
}

.route {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  position: relative;
}

.route-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.route-area button {
  all: unset;
  cursor: pointer;
}

.route-area h2 {
  font-size: 2rem;
  font-weight: 500;

}

.route-area p {
  font-size: 1.2rem;
}

.route-first {
  display: flex;
}

.second-section h2 {
  color: var(--light-blue);
  margin: 0rem 0rem 2rem 2rem;
}

.sub-second {
  background-image: url("../assets/accomodation.png");
  height: 29.8rem;
  position: relative;
}

.sub-second img {
  cursor: pointer;
  position: absolute;
  top: -4.5rem;
  right: 0rem;
}

.tird-section {
  background-image: url("../assets/backReminders.png");
  height: 30.1rem;
  padding: 0rem 0.35rem;
  margin: 2rem 0rem;
}

.top-info {
  color: var(--white);
  display: flex;
  font-weight: 500;
  letter-spacing: 0.1rem;
  height: 3.2rem;
  width: 100%;
}

.top-info-first,
.top-info-second {
  background-color: var(--green);
  height: 100%;
  width: 50%;
  padding: 1rem 0rem 0rem 1.7rem;
}

.top-info-second {
  background-color: #212121;
}

.vertical-line {
  border-left: 2px solid var(--white);
  height: 55%;
  position: absolute;
  top: 3.2rem;
  left: 1.5rem;
}