.container-home {
  background-color: var(--dark-purple2);
  font-family: "runda", sans-serif;
  min-height: 100vh;
}

.boardingPass {
  background-color: var(--black);
  height: 30rem;
  width: 35rem;
  /* opacity: 0.5; */
  margin: 2rem auto;
}

.top-info {
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  letter-spacing: 0.3rem;
  height: 3.2rem;
  width: 100%;
}

.top-info-first {
  background-color: var(--green);
  width: 50%;
}

.body-reminders {
  background-color: rgba(0, 0, 0, 0.664);
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 0rem 2rem;
}

.card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.circle {
  border: 1px solid var(--white);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  height: 3.2rem;
  width: 3.2rem;
}

.circle-pickup {
  background-color: var(--purple);
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
}

.circle-destination {
  background-color: var(--light-blue);
  border-radius: 50%;
  height: 2.2rem;
  width: 2.2rem;
}

.destinations-inputs {
  border-bottom: 1px solid #919191;
  padding-bottom: 1.7rem;
  margin-bottom: 2rem;
}

.destinations-inputs :first-child {
  margin-bottom: 1rem;
}

.destinations-inputs input {
  height: 4rem;
  width: 100%;
  padding: 1rem;
}

.driver-info {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 1.4rem;
  margin-bottom: 2.5rem;
}

.fifth-section {
  background-color: var(--purple2);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30rem;
  margin: 1rem 0rem 2rem 0rem;
  padding: 0rem 1.5rem;
}

.first-section {
  background-image: url("../assets/overlay.jpg");
  height: 36.8rem;
  margin-bottom: 19rem;
  position: relative;
}

.first-section h1 {
  color: var(--white);
  font-size: 3.6rem;
  font-weight: 300;
  margin-left: 2.5rem;
  padding-top: 10rem;
}

footer {
  background-color: var(--dark-purple);
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7.5rem
}

.fourth-section {
  background-image: url("../assets/accomodation2.png");
  height: 30rem;
}

.middle-body {
  padding: 0rem 1.5rem;
}

.route {
  display: flex;
  flex-direction: column;
  gap: 8rem;
  position: relative;
}

.route-area {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.route-area button {
  all: unset;
  cursor: pointer;
}

.route-area h2 {
  font-size: 2rem;
  font-weight: 500;

}

.route-area p {
  font-size: 1.2rem;
}

.route-first {
  display: flex;
}

.second-section h2 {
  color: var(--light-blue);
  margin: 0rem 0rem 2rem 2rem;
}

.sub-second {
  background-image: url("../assets/accomodation.png");
  height: 29.8rem;
  position: relative;
}

.sub-second img {
  position: absolute;
  top: -4.5rem;
  right: 0rem;
}

.tird-section {
  background-image: url("../assets/backReminders.png");
  height: 30.1rem;
  padding: 0rem 0.35rem;
  margin: 2rem 0rem;
}

.vertical-line {
  border-left: 2px solid var(--white);
  height: 55%;
  position: absolute;
  top: 3.2rem;
  left: 1.5rem;
}